#pricing {
	margin-bottom: 300px;

	.card {
		position: relative;
		display: flex;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid rgba(0, 0, 0, 0.125);
		border-radius: 0.25rem;

		.card-header {
			padding: 0.5rem 1rem;
			margin-bottom: 0;
			border-bottom: 1px solid rgba(0, 0, 0, 0.125);

			h2 {
				font-size: 1rem;
				color: #5b5b5b;
				margin: 0.5rem;
			}
		}

		.card-body {
			padding: 1rem 2rem;

			.card-title {
				margin-top: 0;
				margin-bottom: 0.5rem;
				font-size: 2.25rem;
				font-weight: 400;
				word-wrap: normal;
			}

			.card-sub-heading {
				color: #a0a0a0;
				font-size: 14px;
				margin-top: 0;
				padding: 0 1.2rem;
				line-height: 1.5;
			}
		}
	}
}
