@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:wght@300;400;500&display=swap');

// Heading fonts
$heading-font: 'Lato', sans-serif;
$text-font: 'Roboto', sans-serif;

// Colors
$primary: #e2e3dd;
$secondary: #292828;
$accent: #9d7e3a;
$dark: #191919;
$light: #eee;
